@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: #444;
  margin: 0 auto;
  background-color: #efe9e9;
  height: 300vh;
}